.imagen {
    border: dashed;
    width: 90%;
    margin: 5px 15px;
  }
  .video {
    width: 90%;
    margin: 5px 15px;
    height: 150px;
  }
  .paquetes {
    width: 90%;
    height: 300px;
    margin: 5px 15px;
    padding-bottom: 350px;
  }
  .Descripcion {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: left;
    margin: 15px;
    width: 75%;
  }

  @media (min-width: 992px) {

    .Descripcion {
      margin: 15px;
      width: 40%;
    }
    .imagen {
      width:"40%"  
      height="40%"
    }
    .video {
      width:"560px" 
      height="260px"
    }
    .paquetes {
      width: 560px;
      height: 360px;
    }
  }