/*COLORES*/

$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$gris: rgb(204, 195, 195);
$primario: #107acc;
$secundario: #0c36dd;
$terciario: #281096;
$crema: #b9b498;
$rojo: #281096;
$navbarfondo: #F9E9DA;
$background: #281096;