/*COLORES*/

$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$gris: rgb(204, 195, 195);
$primario: #107acc;
$secundario: #0c36dd;
$terciario: #1b028a;
$crema: #b9b498;
$rojo: #13025f;
$navbarfondo: #F9E9DA;
$background: #13025f;